@model List<EventListItem>
    <h1 class = "display-1">
        Scheduled Events
    </h1>
        <a asp-action="Create" class = "btn btn-info">Create Event</a>
    <hr>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>
                   Id 
                </th>
                <th>
                    Event Name
                </th>
                <th>
                    Date    
                </th>
                <th>
                    Location
                </th>
                 <th>
                    
                </th>
            </tr>
            
        </thead>
        <tbody>
                @foreach(var e in Model)
                {
                    <tr>
                    <td>
                        @e.Id
                    </td>
                    <td>
                        @e.EventName
                    </td>
                    <td>
                        @e.Date
                    </td>
                    <td>
                        @e.Location
                    </td>
                    <td>
                        <a asp-route-id="@e.Id" asp-action="Detail" class = "btn btn-info">Details</a>
                        <a asp-route-id="@e.Id" asp-action="Edit" class = "btn btn-warning">Edit</a>
                        <a asp-route-id="@e.Id" asp-action="Delete" class = "btn btn-danger">Delete</a>
                    </td>
                </tr>
                }

        </tbody>
    </table>