@model List<GuestListItem>
    <h1 class = "display-1">
        Invite guests
    </h1>
        <a asp-action="Create" class = "btn btn-info">Add a guest</a>
    <hr>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th>
                   Id 
                </th>
                <th>
                    Name
                </th>

                 <th>
                    Email
                </th>
            </tr>
            
        </thead>
        <tbody>
                @foreach(var e in Model)
                {
                    <tr>
                    <td>
                        @e.Id
                    </td>
                    <td>
                        @e.Name
                    </td>
                     
                    <td>
                        <a asp-route-id="@e.Id" asp-action="Detail" class = "btn btn-info">Details</a>
                        <a asp-route-id="@e.Id" asp-action="Edit" class = "btn btn-warning">Edit</a>
                        <a asp-route-id="@e.Id" asp-action="Delete" class = "btn btn-danger">Delete</a>
                    </td>
                </tr>
                }

        </tbody>
    </table>